* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  }
  
  .choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #081b31;
  }
  
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
  }
  
  .msg-container {
    margin-top: 5rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
  #restart-btn {
    display: none; /* Initially hide the button */
    background-color: #4caf50; /* Green background color */
    margin: 8px auto;
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding for better appearance */
    font-size: 16px; /* Font size */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    margin-top: 10px; /* Margin from the top for spacing */
  }
  
  #restart-btn:hover {
    background-color: #45a049; /* Darker green on hover */
  }