* {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
  }
  
  .choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: #081b31;
  }
  
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;

  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
  }
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
     
    font-size: 4rem;
  }
  .lala{
    background-color: #081b31;
    color: #fff;
    border-radius: 0.5rem;
    padding: 10px 20px;
    
  }
  
  /* Style for the message container */
  .msg-container {
    text-align: center;
    margin-top: 2rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }
  #restart-container {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Adjust the margin as needed */
  }
  
  /* Style for the restart button */
  #restart-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #restart-btn:hover {
    background-color: #45a049;
  }
  /* Style for the restart button container */
 
  /* Style for the restart button */
  

  
  
  